{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Maktabkhooneh CV</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>
    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Amir Shabanpour </h1>
    </a>



    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'img/BlcHole.jpg'%}" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Amir Shabanpour </h2>
        <p>I'm a <span class="typed" data-typed-items="Physicist , Developer, Motorsport enthusiast">Physicist</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am interested in phenomenology of nuclear and particles physics specially the behavior of quarks and gluons at low energy regime. I wish to use montecarlo algorithm and lattice quantum chromodynamics to approach numerically to confined region of hadrons. I am also interested in developing web applications for scientific and enterprise purposes.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-12 content">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>7th Feb 1992</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>amir.shabanpoor92@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+98 911 216 7714</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Babolsar, Iran</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>32</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>               
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              For any further questions or project delegations, feel free to contact via the upper mentioned email address.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>HTML</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>JavaScript</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Python</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Fortran</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>QCDnum</span> <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Madgraph_amc@NLO</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Pegasus-QCD</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Minuit</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>
        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Educations</h3>

            <div class="resume-item pb-0">
              <h4>Master of Science in Elementary Particles Physics</h4>
              <p><em>Semnan University, Semnan, Iran</em></p>
              <ul>
                <li>First Class Honours</li>
                <li>Feb 2015 - Sep 2016</li>
              </ul>
            </div>
            <!-- End Resume Item -->
            <div class="resume-item pb-0">
              <h4>Bachelor of Science in Solid State Physics</h4>
              <p><em>University of Guilan, Rasht, Iran</em></p>
              <ul>
                <li>Third Class Honours</li>
                <li>Sep 2010 - Aug 2014</li>
              </ul>
            </div>
            <!-- End Resume Item -->
            <div class="resume-item pb-0">
              <h4>Diploma of Math and Physics</h4>
              <p><em>Dr.Hashtroudi high school and pre-university center, Tehran, Iran</em></p>
              <ul>
                <li>First Class Honours</li>
                <li>Sep 2008 - Apr 2010</li>
              </ul>
            </div>
            <!-- End Resume Item -->

            <h3 class="resume-title">Projects</h3>
            <div class="resume-item">
              <h4>Customers service automation</h4>
              <h5>Feb 2022 - Sep 2023</h5>
              <p><em>Naghshineh Tabarestan</em></p>
              <ul>
                <li>Developed a python project to give representatives access to customer informations</li>
                <li>Improved the method of advertising via filtering the customers based on their former purchases</li>
                <li>Managed a team of seven in production section</li>
              </ul>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Measure of polarized parton distribution functions (PDFs)</h4>
              <h5>Oct 2019 - Aug 2021</h5>
              <p><em>Semnan University</em></p>
              <ul>
                <li>Developed a Fortran based project to evolve PDFs through varios transverse energies</li>
                <li>Developed a method for linear regression of theoretical iterations to experimental data</li>
                <li>Developed a Python project to measure theoretical uncertainities</li>
                <li></li>
              </ul>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Intrinsic charm and beauty quarks at high energy physics</h4>
              <h5>Oct 2015 - Sep 2016</h5>
              <p><em>Semnan University</em></p>
              <ul>
                <li>Developed a python Program to add intrinsic heavy quarks portions to existed PDFs</li>
                <li>Developed a F2Py code for automation of Madgraph_amc@NLO runs alongside an output collector</li>
                <li>Measured the effect of intrinsic portions to leading order by MCFM</li>
                
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experiences</h3>
            <div class="resume-item">
              <h4>Production Manager</h4>
              <h5>Feb 2022 - Sep 2023</h5>
              <p><em>Naghshineh Tabarestan</em></p>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Research Assistant</h4>
              <h5>Oct 2019 - Aug 2021</h5>
              <p><em>Semnan University</em></p>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Research Assistant</h4>
              <h5>Nov 2017 - Apr 2019</h5>
              <p><em>Research and Development Organization of IRIA Ground Force</em></p>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Research Assistant</h4>
              <h5>Oct 2015 - Sep 2016</h5>
              <p><em>Semnan University</em></p>
            </div><!-- Edn Resume Item -->
            <div class="resume-item">
              <h4>Sale Assistant</h4>
              <h5>Apr 2015 - March 2017</h5>
              <p><em>Nik brick - Mahmoudabad branch</em></p>
            </div><!-- Edn Resume Item -->
            <h3 class="resume-title">Languages</h3>
            <div class="resume-item">
              <h4></h4>
              <ul>
                <li>English : C1</li>
                <li>Deutsch : A2</li>
                <li>Persian : Native</li>
              </ul>
            </div><!-- Edn Resume Item -->
          </div>
  
        </div>

      </div>

    </section><!-- /Resume Section -->



  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">iPortfolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static '/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static '/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>